* {
    font-size: 10px;
}

.map-wrapper {
    width: 800px;
    height: 800px;
    background: url("./assets/images/mapka_1.jpg");
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}

.ar-box {
    height: 54.7px;
    width: 54.7px;
    background: transparent;
    position: relative;
    top: 14px;
    left: 20px;
    border-radius: 5px;
}
.ar-coord {
    font-size: 10px;
    padding: 5px;
    color: grey;
}

.ar-box:hover {
    box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.1);
    background: rgba(0,200,100,0.1);
    font-size: 12px !important;
    color: black;
    
}

.ar-under-blockade {
    width: 100%;
    height: 100%;
    background: yellow;
    position: fixed;
    
}

.ar-popup {
    width: 90%;
    height: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    color: black;
    opacity: 1;
    z-index: 100;
    padding: 20px;
    box-shadow: 0px 0px 600px 600px rgba(0,0,0,0.4);
    border-radius: 10px;
    pointer-events: all;
}

.ar-enabled {
    pointer-events: all;
}

.ar-close-btn {
    position: fixed;
    top: 3%;
    left: 91.5%;
    translate: (-50%, -50%);
    background: black;
    color: white;
    font-size: 14px;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    z-index: 200;
}

.ar-close-btn:hover {
    background: red;
}

.grid-blocker {
    width: 100%;
    height: 100%;
    background: yellow;
    pointer-events: none;
}